body {
  background-color: #cfe3e2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: #468189;
  font-size: 20px;
}
h1 {
  font-size: 100px;
  color: #031926;
  text-align: center;
}

h2 {
  color: HC-168;
  font-size: #031926;
}

h3 {
  color: HC-168;
  font-size: #031926x;
}

a {
  color: #468189;
}

.s {
  text-align: left;
}
